﻿<body bgcolor="#eeeeee" style="font-family: Open Sans">
    <table width="100%" bgcolor="#eeeeee">
        <tbody valign="top">
            <tr>
                <td valign="top">
                    <table width="100%" bgcolor="#77a4df">
                        <tbody>
                            <tr>
                                <td onclick="window.location.href='/';"><img src="/wwwroot/Images/main.png" alt="" width="175vw" height="168vw" /></td>
                                <td style="text-align: center;"><span style="font-size: 8vw; color: #ffffff;"><strong>Главное меню</strong></span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td></td>
            </tr>


            <tr>



                <td>
                    <table width="100%">
                        <tbody>





                            <!-- кнопка меню-->
                            <tr>
                                <td>
                                    <div style=" border: 1vw solid #c7cbcf; background: #fff1c1; ">
                                        <table width="100%" style="padding:3vw">
                                            <tbody>
                                                <tr width="100%" bgcolor="#fff1c1">
                                                    <td width="100vw"><img src="/wwwroot/Images/feed.png" alt="" width="100vw" height="100vw" /></td>
                                                    <td width="100%">
                                                        <table border="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td><strong><span style="font-size: 5vw; ">Лента сообщений</span></strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- конец кнопка меню-->
                            <!-- кнопка меню-->
                            <tr>
                                <td>
                                    <div style=" border: 1vw solid #c7cbcf; background: #d2eab5;">
                                        <table width="100%" style="padding:3vw">
                                            <tbody>
                                                <tr onclick="window.location.href='Task/TaskList/';" width="100%" bgcolor="#d2eab5">
                                                    <td width="100vw"><img src="/wwwroot/Images/my_tasks.png" alt="" width="100vw" height="100vw" /></td>
                                                    <td width="100%">
                                                        <table border="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td><strong><span style="font-size: 5vw;">Задачи</span></strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- конец кнопка меню-->
                            <!-- кнопка меню-->
                            <tr>
                                <td>
                                    <div style=" border: 1vw solid #c7cbcf; background: #d4e7fd;">
                                        <table width="100%" style="padding:3vw">
                                            <tbody>
                                                <tr width="100%" bgcolor="#d4e7fd">
                                                    <td width="100vw"><img src="/wwwroot/Images/calendar.png" alt="" width="100vw" height="100vw" /></td>
                                                    <td width="100%">
                                                        <table border="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td><strong><span style="font-size: 5vw;">Календарь</span></strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- конец кнопка меню-->
                            <!-- кнопка меню-->
                            <tr>
                                <td>
                                    <div style=" border: 1vw solid #c7cbcf; background: #90c4e5;">
                                        <table width="100%" style="padding:3vw">
                                            <tbody>
                                                <tr onclick="window.location.href='/DocumentList/';" width="100%" bgcolor="#90c4e5">
                                                    <td width="100vw"><img src="/wwwroot/Images/folder.png" alt="" width="100vw" height="100vw" /></td>
                                                    <td width="100%">
                                                        <table border="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td><strong><span style="font-size: 5vw;">Документы</span></strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- конец кнопка меню-->
                            <!-- кнопка меню-->
                            <tr>
                                <td>
                                    <div style=" border: 1vw solid #c7cbcf; background: #eccbc6;">
                                        <table width="100%" style="padding:3vw">
                                            <tbody>
                                                <tr width="100%" bgcolor="#eccbc6">
                                                    <td width="100vw"><img src="/wwwroot/Images/user.png" alt="" width="100vw" height="100vw" /></td>
                                                    <td width="100%">
                                                        <table border="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td><strong><span style="font-size: 5vw;">Компания</span></strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- конец кнопка меню-->









                        </tbody>
                    </table>


                </td>
            </tr>

            <tr>
                <td valign="top" align="center">

                    <span style="font-size: 2vw;"><em>Elma 2017 (hackaton team)</em></span>

                </td>
            </tr>

        </tbody>
    </table>
</body>

<script>
    $(document).ready(function () {

    });
</script>