﻿<table width="100%" bgcolor="#eeeeee">
    <tbody valign="top">

        <tr>
            <td>
                <table width="100%" bgcolor="#eeeeee">
                    <tbody>
                        <tr>
                            <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/add_task.png" alt="" width="170vw" height="180vw"></span><br><span style="font-size: 4vw;"> Создать задачу</span></td>
                            <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/my_tasks.png" alt="" width="170vw" height="180vw"></span><br><span style="font-size: 4vw;">Мои задачи</span></td>
                            <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/control.png" alt="" width="170vw" height="180vw"></span><br><span style="font-size: 4vw;">Контроль задач</span></td>
                            <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/out_tasks.png" alt="" width="170vw" height="180vw"></span><br><span style="font-size: 4vw;">Задачи от меня</span></td>

                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%">
                    <tbody></tbody>
                </table>
            </td>
        </tr>

    </tbody>
</table>