﻿<body bgcolor="#eeeeee" style="font-family: Open Sans">
    <table width="100%" bgcolor="#eeeeee">
        <tbody valign="top">
            <tr>
                <td valign="top">
                    <table width="100%" bgcolor="#b3d689">
                        <tbody>
                            <tr>
                                <td onclick="window.location.href='/';"><img src="/Content/Images/main.png" alt="" width="175vw" height="168vw" /></td>
                                <td style="text-align: center;"><span style="font-size: 8vw; color: #ffffff;"><strong>Задача</strong></span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" bgcolor="#eeeeee">
                        <tbody>
                            <tr>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/complete_task.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Выполнить</span></td>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/add_comment.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Добавить комментарий</span></td>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/add_question.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Задать вопрос</span></td>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/redirect.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Переназначить</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%">
                        <tbody></tbody>
                    </table>


                </td>
            </tr>
            <tr>
                <td valign="top" align="center">

                    <span style="font-size: 2vw;"><em>Elma 2017 (hackaton team)</em></span>

                </td>
            </tr>

        </tbody>
    </table>
</body>