﻿@using MobileSite.Models
@model IEnumerable<SimpleTaskInfoModel>


<body bgcolor="#eeeeee" style="font-family: Open Sans">
    <table width="100%" bgcolor="#eeeeee">
        <tbody valign="top">
            <tr>
                <td valign="top">
                    <table width="100%" style="background-color: #b3d689" bgcolor="#b3d689">
                        <tbody>
                            <tr>
                                <td onclick="window.location.href='/';"><img src="/wwwroot/Images/main.png" alt="" width="175vw" height="168vw" /></td>
                                <td style="text-align: center;"><span style="font-size: 8vw; color: #ffffff;"><strong>Список задач</strong></span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table width="100%" bgcolor="#eeeeee">
                        <tbody>
                            <tr>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/add_task.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;"> Создать задачу</span></td>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/my_tasks.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Мои задачи</span></td>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/control.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Контроль задач</span></td>
                                <td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/out_tasks.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Задачи от меня</span></td>

                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>



                <td>
                    <table width="100%">
                        <tbody>

                            @{foreach (var task in Model)
{
                                    //опрееделить ссылку для перехода на страницу задачи-->
                                    string link = "/Task/Index/" + task.Id;
                                    if (task.TypeUid == "ddedc971-594a-4028-9781-f218b4658b92")
                                    { link = "/Task/TaskBasePage/" + task.Id; }
                                    if (task.TypeUid == "298b2c71-619f-463c-95b2-8e029085680d")
                                    { link = "/DocumentApprovement/Index/" + task.Id; }
                                    <tr><td>
<div style = " border: 1vw solid #c7cbcf;   background: #ffffff;">
 <table width = "100%">
  <tbody>
  <tr  onclick = "window.location.href='@link';" width = "100%" bgcolor = "#ffffff">
       <td width = "100vw" ><img src = "/wwwroot/Images/my_tasks.png" alt = "" width = "100vw" height = "100vw" /></td >
                  <td width = "100%" >
                   <table border = "0" width = "100%" >
                      <tbody >
                      <tr >
                      <td ><strong ><span style = "font-size: 5vw;" > @task.Subject </span ></strong ></td >
                           </tr >
                           <tr >
                           <td >
@if (!String.IsNullOrWhiteSpace(task.WorkflowBookmarkProcessName))
                                    {
<span style = "font-size: 3vw;" ><em > Процесс:</em ></span><span style = "font-size: 4vw;" ><strong ><em> @task.WorkflowBookmarkProcessName </em ></strong ></span>
}
</td >
</tr >
<tr >
<td >
@if (!String.IsNullOrWhiteSpace(task.ProjectName))
                                    {
<span style = "font-size: 3vw;" ><em> Проект:</em></span> <span style = "font-size: 4vw;" ><strong><em> @task.ProjectName </em></strong></span>
}
</td >
</tr >
</tbody >
</table >
</td >
</tr >
</tbody >
</table >
</div >
</td >
</tr>


}
                            }











                        </tbody>
                    </table>


                </td>
            </tr>

            <tr>
                <td valign="top" align="center">

                    <span style="font-size: 2vw;"><em>Elma 2017 (hackaton team)</em></span>

                </td>
            </tr>

        </tbody>
    </table>
</body>