﻿@using MobileSite.Models
@model UserModel

<div bgcolor="#fff" style="font-family: Open Sans; border: 1vw solid #c7cbcf;   background: #d4e7fd;">
    <img src="/Content/Images/logo.png" alt="" width="100vw" height="26vw" />
    <div>
        <div bgcolor="#eeeeee" style="font-family: Open Sans">

            <form method="post">
                <table width="100%">
                    <tr>
                        <td valign="top" width="50vw"><img src="/wwwroot/Images/username.png" alt="" width="50vw" height="50vw" /></td>
                        <td valign="top" width="100%">@Html.EditorFor(m => m.UserName)</td>
                    </tr>
                    <tr>
                        <td valign="top" width="50vw"><img src="/wwwroot/Images/pass.png" alt="" width="50vw" height="50vw" /></td>
                        <td valign="top" ;" width="100%">
                            <input width="100%" class="text-box single-line" id="Password" name="Password" value="" type="password">
                        </td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(Model.AuthError))
                    {
                        <text>
                        <tr>
                            <td valign="top" align="center" style="text-align: center;">Ошибка авторизации:</td>
                            <td valign="top" align="center" style="text-align: center;">@Html.DisplayFor(m => m.AuthError)</td>
                        </tr>
                        </text>
                    }
                </table>
                <div style="width: 100%"><input type="submit" value="Войти в систему" /> </div>

            </form>
        </div>
