<body  bgcolor="#eeeeee" style ="font-family: Open Sans">
<table  width="100%"   bgcolor="#eeeeee" >
<tbody valign="top">
<tr>
<td valign="top">
<table  width="100%" bgcolor="#b3d689">
<tbody>
<tr>
<td onclick="window.location.href='/';"><img src="/wwwroot/Images/main.png" alt="" width="175vw" height="168vw" /></td>
<td style="text-align: center;"><span style="font-size: 8vw; color: #ffffff;"><strong>Предпросмотр документа</strong></span></td>

</tr>
</tbody>
</table>
</td>
</tr>

<tr>
<td >
<table  width="100%" bgcolor="#eeeeee">
<tbody>

</tbody>
</table>
</td>
</tr>


<tr>



<td>
<table  width="100%"  >
<tbody>



<tr>
<td width="100%">
Content
</td>
</tr>





</tbody>
</table>


</td>
</tr>

<tr >
<td valign="top" align="center">

<span  style="font-size: 2vw;"><em>Elma 2017 (hackaton team)</em></span>

</td>
</tr>

</tbody>
</table>
</body>