﻿@using MobileSite.Models
@model DmsObjectViewModel


<body  bgcolor="#eeeeee" style ="font-family: Open Sans">
<table  width="100%"   bgcolor="#eeeeee" >
<tbody valign="top">
<tr>
<td valign="top">
<table  width="100%" bgcolor="#90c4e5">
<tbody>
<tr>
<td onclick="window.location.href='/';"><img src="/wwwroot/Images/main.png" alt="" width="175vw" height="168vw" /></td>
<td style="text-align: center;"><span style="font-size: 8vw; color: #ffffff;"><strong>Документы</strong></span></td>
</tr>
</tbody>
</table>
</td>
</tr>

<tr>
<td >
<table  width="100%" bgcolor="#eeeeee">
<tbody>
<tr>
<td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/add_task.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Загрузить "Файл"</span></td>
<td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/my_tasks.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Мои документы</span></td>
<td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/control.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Общие папки</span></td>
<td valign="top" align="center" style="text-align: center;" width="25%"><span style="font-size: 14pt; "><img src="/wwwroot/Images/out_tasks.png" alt="" width="170vw" height="180vw" /></span><br><span style="font-size: 4vw;">Избранное</span></td>

</tr>
</tbody>
</table>
</td>
</tr>


<tr>



<td>
<table  width="100%"  >
<tbody>

@{
 string folderUp ="";
if(!String.IsNullOrWhiteSpace(Model.FolderId))
{
folderUp = "/DocumentList/Index/"+Model.FolderId;
 <tr width="100%">
   <td>
   <div style = " border: 1vw solid #c7cbcf;   background: #ffffff;">
   <table>
   
   <td onclick="window.location.href='@folderUp';" valign="top" align="center" style="text-align: center;" width="25%">
      <img src="/wwwroot/Images/folderup.png" alt="" width="80vw" height="80vw" />
   </td>
  <td onclick="window.location.href='@folderUp';"    width="100%">
  <span style="font-size: 6vw; "><strong>На уровень вверх</strong></span>
  </td>
   <td onclick="window.location.href='@folderUp';" valign="top" align="center" style="text-align: center;" width="25%">
      <img src="/Content/Images/folderup.png" alt="" width="100vw" height="100vw" />
   </td>
   </table>
   </div>
   </td>
   </tr>
}


foreach(var dms in Model.DmsObjects)
{

if(dms.TypeUid=="4b6678a3-4f9a-4d7c-88f3-316ec58a1e4e")
{

   string folder = "/DocumentList/Index/"+dms.Id+"?parentId="+dms.FolderId;

 <tr width="100%">
   <td>
   <div style = " border: 1vw solid #c7cbcf;   background: #ffffff;">
   <table>
   <td onclick="window.location.href='@folder';" valign="top" align="center" style="text-align: center;" width="25%">
      <img src="/wwwroot/Images/folder.png" alt="" width="80vw" height="80vw" />
   </td>
  <td onclick="window.location.href='@folder';"    width="100%">
  <span style="font-size: 6vw; "><strong>@dms.Name</strong></span>
  </td>
   <td onclick="window.location.href='@folder';" valign="top" align="center" style="text-align: center;" width="25%">
      <img src="/wwwroot/Images/folder.png" alt="" width="100vw" height="100vw" />
   </td>
   </table>
   </div>
   </td>
   </tr>
}
else
{

   string docAtt = "https://elma.elewise.com/Documents/Document/DownloadCurrentVersion/"+dms.Id;
   string docPrev = "/DocumentApprovementTaskPage/Preview"+dms.Id;

   <tr width="100%">
   <td>
   <div style = " border: 1vw solid #c7cbcf;   background: #ffffff;">
   <table>
   <td onclick="window.location.href='@docAtt';" valign="top" align="center" style="text-align: center;" width="25%">
      <img src="/wwwroot/Images/download.png" alt="" width="80vw" height="80vw" />
   </td>
  <td onclick="window.location.href='@docPrev';"    width="100%">
  <span style="font-size: 6vw; "><strong>@dms.Name</strong></span>
  </td>
   <td onclick="window.location.href='@docPrev';" valign="top" align="center" style="text-align: center;" width="25%">
      <img src="/wwwroot/Images/preview.png" alt="" width="100vw" height="100vw" />
   </td>
   </table>
   </div>
   </td>
   </tr>
 }

}
}






</tbody>
</table>


</td>
</tr>

<tr >
<td valign="top" align="center">

<span  style="font-size: 2vw;"><em>Elma 2017 (hackaton team)</em></span>

</td>
</tr>

</tbody>
</table>
</body>